
<div class="card card-side flex flex-col shadow-xl border-8">
  <div class="flex h-full w-full">
    <div class="flex flex-col">
    <div class="avatar border-2 ml-2 mt-2 rounded">
      <div class="w-40 sm:w-60 rounded">
        <%= image_tag matching.matching_profile.image_url %>
      </div>
    </div>
    <p class="my-1 text-sm md:text-lg text-center"><%= link_to matching.name, matching_profile_path(matching.matching_profile) %></p>
    </div>
    <div class="m-2 ml-6">
      <% unless matching.group.users.exists?(current_user.id)%>
        <div class="h-full w-60 lg:w-96 border-2 rounded">
        </div>
      <% end %>
    </div>
  </div>
  <div class="w-full grid grid-cols-3">
    <div class="invisible">
    </div>
    <div class="card-actions justify-self-center mb-2">
      <% if current_user.sent_chat_requests.exists?(matching_id: matching.id, status: 'pending') %>
        <%= button_to 'キャンセル', cancel_chat_request_path(matching_id: matching.id), method: :patch, class: 'btn btn-neutral' %>
      <% elsif matching.group.users.exists?(current_user.id) && matching.chat_requests.exists?(matching_id: matching.id, status: 'pending') %>
        <div class="overflow-auto h-32">
          <% matching.chat_requests.each do |chat_request| %>
            <div class="flex">
              <p class="font-bold"><%= link_to chat_request.sender.user_profile.name, user_path(chat_request.sender) %></p>
              <%= button_to '承認', approve_chat_request_path(matching_id: matching.id, user_id: chat_request.sender.id), method: :patch, class: 'btn btn-secondary' %>
              <%= button_to '拒否', reject_chat_request_path(matching_id: matching.id, user_id: chat_request.sender.id), method: :patch, class: 'btn btn-accent' %>
            </div>
          <% end %>
        </div>
      <% elsif matching.group.users.exists?(current_user.id) %>
        <!-- グループマッチングに所属する場合は何も表示しない -->
      <% else %>
        <%= form_with(model: @chat_request, url: chat_requests_path) do |form| %>
          <%= form.hidden_field :matching_id, value: matching.id %>
            <%= form.submit '申請', class: 'btn btn-primary' %>
          <% end %>
      <% end %>
    </div>
    <div class="invisible">
    </div>
  </div>
</div>