<div class="col-sm-12 col-lg-4 mb-3">
  <div id="matching-id-<%= matching.id %>">
    <div class="card">
      <div class="card-body">
        <ul class="list-inline">      
          <li class="list-inline-item">
           <%= link_to matching.name, matching_profile_path(matching.matching_profile) %>
          </li>
          <% if current_user.sent_chat_requests.exists?(matching_id: matching.id, status: 'pending') %>
            <%= button_to 'キャンセル', cancel_chat_requests_path(matching_id: matching.id), method: :patch, class: 'btn btn-danger' %>
          <% elsif matching.group.users.exists?(current_user.id) && matching.chat_requests.exists?(matching_id: matching.id, status: 'pending') %>
            <% matching.chat_requests.each do |chat_request| %>
              <%= link_to chat_request.sender.user_profile.name, user_path(chat_request.sender) %>
              <%= button_to '承認', approve_chat_requests_path(matching_id: matching.id, user_id: chat_request.sender.id), method: :patch, class: 'btn btn-success' %>
              <%= button_to '拒否', reject_chat_requests_path(matching_id: matching.id, user_id: chat_request.sender.id), method: :patch, class: 'btn btn-danger' %>
            <% end %>
          <% elsif matching.group.users.exists?(current_user.id) %>
            <!-- グループマッチングに所属する場合は何も表示しない -->
          <% else %>
            <%= form_with(model: @chat_request, url: chat_requests_path) do |form| %>
              <%= form.hidden_field :matching_id, value: matching.id %>
              <%= form.submit '申請', class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>