<div class="col-sm-12 col-lg-4 mb-3">
  <div id="matching-id-<%= matching.id %>">
    <div class="card">
      <div class="card-body">
        <ul class="list-inline">      
          <li class="list-inline-item">
            <% if current_user.matchings.include?(matching) %>
              <%= link_to matching.name, edit_matching_path(matching) %>
            <% else %>
              <% if matching.respond_to?(:matching_profile) %>
                <%= link_to matching.name, matching_profile_path(matching.matching_profile) %>
              <% else %>
                <%= link_to matching.name, matching_path(matching) %>
              <% end %>
            <% end %>
          </li>
          <% if current_user.sent_chat_requests.exists?(matching_id: matching.id, status: 'pending') %>
            <%= button_to 'キャンセル', cancel_chat_requests_path(matching_id: matching.id), method: :patch, class: 'btn btn-danger' %>
          <% elsif matching.received_chat_requests.exists?(matching_id: matching.id, status: 'pending') %>
            <% matching.chat_requests.each do |chat_request| %>
              <% user = chat_request.sender %>
              <%= link_to user.user_profile.name, user_path(user) %>
              <%= button_to '承認', approve_chat_requests_path(matching_id: matching.id, user_id: user.id), method: :patch, class: 'btn btn-success' %>
              <%= button_to '拒否', reject_chat_requests_path(matching_id: matching.id, user_id: user.id), method: :patch, class: 'btn btn-danger' %>
            <% end %>
          <% elsif current_user.matching_users.exists?(matching_id: matching.id) %>
            <!-- マッチングが存在する場合は何も表示しない -->
          <% else %>
            <%= form_with(model: @chat_request, url: chat_requests_path) do |form| %>
              <%= form.hidden_field :matching_id, value: matching.id %>
              <%= form.submit '申請', class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>