<div>
  <%= image_tag @user.user_profile.image_url %>
</div>
<div>
  <p class="font-bold">
    <%= link_to @user.user_profile.name, user_path(@user) %>
  </p>
</div>
<%= form_with(model: @matching, url: matching_path(@matching), method: :patch) do |f| %>
  <!-- マッチング日付の編集 -->
  <div>
    <%= f.label :date, '日付' %>
    <%= f.date_field :date %>
  </div>

  <!-- マッチング場所の編集 -->
  <div>
    <%= f.label :place, '場所' %>
    <%= f.text_field :place %>
  </div>

  <!-- マッチング時間帯の編集 -->
  <div>
    <%= f.label :scheduled_time, '時間帯' %>
    <%= f.time_select(:scheduled_time, {class:'select-date', id:"start-time", prompt:'--', time_separator: ':'}, ignore_data: true) %>
  </div>

  <!-- 編集ボタン -->
  <%= f.submit '編集' %>
<% end %>