
<div class="btn btn-primary w-20">
  <%= link_to '編集', edit_matching_path(@matching) %>
</div>
<div>
  <%= image_tag @user.user_profile.image_url %>
</div>
<div>
  <p><%= @user.user_profile.name %></p>
</div>
<div>
  <label>日付</label>
  <% if @matching.date %>
    <p><%= @matching.date.strftime("%m月%d日") %></p>
  <% else %>
    <p>未定</p>
  <% end %>
</div>
<div>
  <label>時間帯</label>
  <% if @matching.scheduled_time %>
    <p><%= @matching.scheduled_time.strftime("%H:%M") %></p>
  <% else %>
    <p>未定</p>
  <% end %>
<div>
  <label>場所</label>
  <p><%= @matching.place %></p>
</div>

<div class="h-48 overflow-y-scroll border border-gray-300 p-5" id="messages" data-matching_id="<%= @matching.id %>">
  <%= render @messages %>
</div>
<form>
  <%= label_tag :text, 'Say something:' %>
  <input class="input input-bordered w-full max-w-xs" type="text" data-behavior="room_speaker">
</form>