<div class="col-sm-12 col-lg-4 mb-3">
  <div id="user-id-<%= user.id %>">
    <div class="card">
      <div class="card-body">
        <ul class="list-inline">
          <li class="list-inline-item">
            <% if user.user_profile %>
              <%= image_tag user.user_profile.image.url, size: '100x100' %>
            <% else %>
              <%= image_tag 'image_placeholder.png', size: '100x100' %>
            <% end %>
          </li>
          <li class="list-inline-item">
            <% if current_user.matchings.exists?(user.id) %>
              <%= link_to user.user_profile.name, matching_path(user) %>
            <% else %>
              <%= link_to user.user_profile.name, user_path(user) %>
            <% end %>
          </li>     
          
          <% if current_user.sent_chat_requests.exists?(receiver_id: user.id) %>
            <% if current_user.received_chat_requests.exists?(sender_id: user.id, status: 'pending') %>
              <%= button_to '承認', approve_chat_requests_path(user_id: user.id), method: :patch, class: 'btn btn-success' %>
              <%= button_to '拒否', reject_chat_requests_path(user_id: user.id), method: :patch, class: 'btn btn-danger' %>
            <% else %>
              <% if current_user.received_chat_requests.exists?(sender_id: user.id, status: ['approved', 'rejected']) %>
                <%= button_to 'キャンセル申請', cancel_chat_requests_path(user_id: user.id), method: :patch, class: 'btn btn-danger' %>
              <% else %>
                <%= button_to '承認待ち', '', disabled: true, class: 'btn btn-secondary' %>
              <% end %>
            <% end %>
          <% else %>
            <%= form_with(model: @chat_request, url: chat_requests_path) do |form| %>
              <%= form.hidden_field :receiver_id, value: user.id %>
              <%= form.submit '申請', class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>