<% content_for(:title, t('.title')) %>
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <div class="avatar">
      <div class="w-72 rounded-lg shadow-2xl">
        <%= image_tag @user.user_profile.image.url %>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="table table-zebra">
        <tbody>
          <tr>
            <th scope="row"><%= t(UserProfile.human_attribute_name(:name)) %></th>
            <td><%= @user.user_profile.name %></td>
          </tr>
          <!-- row2 -->
          <tr>
            <th scope="row"><%= t(UserProfile.human_attribute_name(:favorite_player)) %></th>
            <td><%= @user.user_profile.favorite_player %></td>
          </tr>
          <!-- row3 -->
            <th scope="row"><%= t(UserProfile.human_attribute_name(:position)) %></th>
            <td><%= @user.user_profile.position %></td>
          </tr>
          <!-- row4 -->
            <th scope="row"><%= t(UserProfile.human_attribute_name(:role_in_team)) %></th>
            <td><%= @user.user_profile.role_in_team %></td>
          </tr>
          <!-- row5 -->
            <th scope="row"><%= t(UserProfile.human_attribute_name(:age)) %></th>
            <td><%= @user.user_profile.age %></td>
          </tr>
          <!-- row6 -->
            <th scope="row"><%= t(UserProfile.human_attribute_name(:favorite_place)) %></th>
            <td><%= @user.user_profile.favorite_place %></td>
          </tr>
          <!-- row7 -->
            <th scope="row"><%= t(UserProfile.human_attribute_name(:soccer_equipments)) %></th>
            <td>
              <% @user.user_profile.soccer_equipments.each do |equipment| %>
                <%= equipment.name %>
              <% end %>
            </td>
          </tr>
          <!-- row8 -->
            <th scope="row"><%= t(UserProfile.human_attribute_name(:available_day_of_week)) %></th>
            <td><%= @user.user_profile.available_day_of_week %></td>
          </tr>
          <!-- row9 -->
            <th scope="row"><%= t(UserProfile.human_attribute_name(:favorite_soccer_activities)) %></th>
            <td>
              <% @user.user_profile.favorite_soccer_activities.each do |activity| %>
                <%= activity.soccer_type %>
              <% end %>
            </td>
          </tr>
          <!-- row10 -->
            <th scope="row"><%= t(UserProfile.human_attribute_name(:available_time)) %></th>
            <td><%= @user.user_profile.available_time %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>