<header class="sticky top-0 z-50 bg-white border-b-2">
  <div class="navbar flex bg-base-100">
    <div class="flex-1">
      <%= link_to 'BallMate', root_path, class: 'btn btn-md sm:btn-lg btn-success m-1 text-3xl sm:text-4xl font-bold normal-case rounded-lg' %>
    </div>
    <% if current_user.present? && current_user.user_profile %>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1 flex justify-center items-center h-full">
          <li class="mx-1 sm:mx-5"><div class="dropdown dropdown-bottom dropdown-end">
            <label tabindex="0">
              <div class="avatar">
                <div class="w-14 mask mask-squircle">
                  <%= image_tag current_user.user_profile.image.url%>
                </div>
              </div>
            </label>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-white rounded-box w-52">
              <button class="btn btn-outline"><%= link_to 'プロフィール', user_profile_path(current_user.id) %></button>
              <button class="btn btn-outline btn-accent"><%= link_to 'ログアウト', logout_path, method: :delete, data: { confirm: '本当にログアウトしますか？' } %></button>
            </ul>
          </div></li>
          <li class="mx-1 sm:mx-5"><%= link_to notifications_path do %>
            <% if unchecked_notifications.any? %>
              <div class="indicator">
                <span class="indicator-item"><i class="fa-solid fa-circle fa-sm" style="color: #66cc8c;"></i></i></span> 
                <i class="fa-regular fa-bell fa-3x"></i>
              </div>
            <% else %>
              <i class="fa-regular fa-bell fa-3x"></i>
            <% end %>
          <% end %></li>
          <li class="mx-1 sm:mx-5"><div class="drawer drawer-end">
            <input id="my-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">
              <label for="my-drawer"><i class="fa-solid fa-bars fa-3x"></i></label>
            </div>
            <div class="drawer-side">
              <label for="my-drawer" class="drawer-overlay"></label>
              <ul class="menu p-6 bg-gray-200 rounded-l-lg mt-28 text-base-content">
                <div class="dropdown dropdown-left">
                <label tabindex="0" class="btn btn-neutral btn-md lg:btn-lg m-1">ユーザーリスト</label>
                  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-gray-200 rounded-box">
                    <button class="btn btn-outline btn-xs sm:btn-sm md:btn-md lg:btn-lg"><%= link_to 'ユーザーを捜す', users_path %></button>
                    <button class="btn btn-outline btn-xs sm:btn-sm md:btn-md lg:btn-lg"><%= link_to 'マッチング済みユーザー', matched_users_path %></button>
                    <button class="btn btn-outline btn-xs sm:btn-sm md:btn-md lg:btn-lg"><%= link_to '申請中ユーザー', requested_users_path %></button>
                    <button class="btn btn-outline btn-xs sm:btn-sm md:btn-md lg:btn-lg"><%= link_to '承認待ちユーザー', approval_pending_users_path %></button>
                  </ul>
                </div>    
                  <div class="divider -my-0.5"></div>
                <div class="dropdown dropdown-left">
                <label tabindex="0" class="btn btn-neutral btn-md lg:btn-lg m-1">マッチングリスト</label>
                  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-gray-200 rounded-box">
                    <button class="btn btn-outline btn-xs sm:btn-sm md:btn-md lg:btn-lg"><%= link_to 'マッチングを探す', matchings_path %></button>
                    <button class="btn btn-outline btn-xs sm:btn-sm md:btn-md lg:btn-lg"><%= link_to 'マッチ済みマッチング', matched_matchings_path %></button>
                    <button class="btn btn-outline btn-xs sm:btn-sm md:btn-md lg:btn-lg"><%= link_to '申請中マッチング', requested_matchings_path %></button>
                    <button class="btn btn-outline btn-xs sm:btn-sm md:btn-md lg:btn-lg"><%= link_to '承認待ちマッチング', approval_pending_matchings_path %></button>
                  </ul>
                </div> 
                  <div class="divider -my-0.5"></div> 
                <button class="btn btn-outline btn-xs sm:btn-sm md:btn-md lg:btn-lg"><%= link_to 'グループを作成', new_group_path %></button>
              </ul>
            </div>
          </div></li>
        </ul>
      </div>
    <% else %>
      <div class="flex-none gap-1">
      <button class="btn btn-sm sm:btn-md btn-neutral"><%= link_to 'ユーザー登録', new_user_path %></button>
      <button class="btn btn-sm sm:btn-md btn-success"><%= link_to 'ログイン', login_path %></button>
      </div>
    <% end %>
  </div>
</header>