<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col">
    <div class="card w-full max-w-7xl shadow-2xl bg-base-100 border-8">
      <div class="card-body">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="form-control w-full max-w-xs">
            <label class="label">
              <%= f.label :name, class: 'label-text'%>
            </label>
            <%= f.text_field :name, class: "input input-bordered w-full max-w-xs", placeholder: "必須" %>
          </div>
          <div class="form-control w-full max-w-xs">
            <label class="label">
              <%= f.label :favorite_player, class: 'label-text'%>
            </label>
            <%= f.text_field :favorite_player, class: "input input-bordered w-full max-w-xs" %>
          </div>
          <div class="form-control w-full max-w-xs">
            <label class="label">
              <%= f.label :position, class: 'label-text'%>
            </label>
            <%= f.text_field :position, class: "input input-bordered w-full max-w-xs" %>
          </div>
          <div class="form-control w-full max-w-xs">
            <label class="label">
              <%= f.label :available_day_of_week, class: 'label-text'%>
            </label>
            <%= f.text_field :available_day_of_week, class: "input input-bordered w-full max-w-xs" %>
          </div>
          <div class="form-control">
            <label class="label">
              <%= f.label :role_in_team, class: 'label-text'%>
            </label>
            <%= f.text_field :role_in_team, class: "textarea textarea-bordered" %>
          </div>
          <div class="form-control w-full max-w-xs">
          <label class="label">
            <%= f.label :age, class: 'label-text'%>
          </label>
          <%= f.number_field :age, class: "input input-bordered" %>
          </div>
          <div class="form-control w-full max-w-xs">
            <label class="label">
              <%= f.label :favorite_place, class: 'label-text'%>
            </label>
            <%= f.text_field :favorite_place, class: "input input-bordered w-full max-w-xs" %>
          </div>
          <div class="form-control w-full max-w-xs">
            <label class="label">
              <%= f.label :available_time %>
            </label>
            <%= f.text_field :available_time, class: "input input-bordered w-full max-w-xs" %>
          </div>
        </div>
        <div class="field">
          <label class="label">
            <%= f.label :favorite_soccer_activities, class: 'label-text' %>
          </label>
          <div class="text-bold">
            <%= f.collection_check_boxes :favorite_soccer_activity_ids, FavoriteSoccerActivity.all, :id, :soccer_type, { }, { class: "checkbox checkbox-primary" } %>
          </div>
        </div>
        <div class="field">
          <%= f.label :soccer_equipments ,class:"label-text"%>
          <div class="text-bold">
            <%= f.collection_check_boxes :soccer_equipment_ids, SoccerEquipment.all, :id, :name, { }, { class: "checkbox checkbox-primary" } %>
          </div>
        </div>
        <div class="form-control w-full max-w-xs">
        <label class="label">
            <%= f.label :image ,class:"label-text"%>
          </label>
          <%= f.file_field :image, class: "file-input file-input-bordered w-full max-w-xs", id: "user_profile_image" %>
          <%= f.hidden_field :image_cache %>
        </div>
        <div class="form-control mt-6">
          <%= f.submit "設定", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>